@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #da042a;
    --primary-color-dark: #c00427;
    --secondary-color: #15151f;
    --secondary-color-dark: #0a0b0f;
    --text-light: #6b7280;
    --extra-light: #f8f7fd;
    --white: #ffffff;
    --max-width: 1200px;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }

  .section__subheader {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
  }

  .section__header {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: var(--secondary-color-dark);
  }